dill==0.4.0
numpy==2.3.2
pbr==7.0.0
psutil==7.0.0
python-dateutil==2.9.0.post0
qiskit==2.1.2
qiskit-aer==0.17.1
rustworkx==0.17.1
scipy==1.16.1
setuptools==80.9.0
six==1.17.0
stevedore==5.4.1
typing_extensions==4.14.1
